
* {
    padding: 0;
    margin: 0;

    font-family: 'Chakra Petch', sans-serif;
    
}

#header {
    background-color:#355E3B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;

}
#header-p{

    color: #F6FFDe;
    

}
#projectNameAncher{
    text-decoration: none;
    font-size: 19px;
}
#main{
    background-color:#F6FFDE ;
    min-height: calc(100vh - 120px);
    align-items:center;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 40px;
    font-weight: bold;
}

#footer {
    height: 40px;
    background-color: #355E3B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6FFDe;

}
